<h2>{{'equipment.equipmentTypes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-type" class="add" ng-click="vm.goToAddEquipmentTypePage()">
        {{'equipmentTypeList.addType' | message}}
    </button>
    <table>
        <caption ng-if="!vm.equipmentTypes || vm.equipmentTypes.length === 0">
            {{'equipmentTypeList.noType' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentTypeList.name' | message}}</th>
            <th>{{'equipmentTypeList.code' | message}}</th>
            <th>{{'equipmentType.isBioChemistry' | message}}</th>
            <th>{{'equipmentType.isColdChain' | message}}</th>
            <th>{{'equipmentTypeList.enabled' | message}}</th>
            <th>{{'equipmentTypeList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="equipmentType in vm.equipmentTypes">
            <td>{{equipmentType.name}}</td>
            <td>{{equipmentType.code}}</td>
            <td>{{equipmentType.isBioChemistry}}</td>
            <td>{{equipmentType.isColdChain}}</td>
            <td>{{equipmentType.active}}</td>
            <td>
                <button ui-sref="openlmis.administration.equipmentTypes.edit({id: equipmentType.id})">{{'equipmentType.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
