<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'equipmentFundSourceEdit.editEquipmentFundSource.title' | message:({equipmentFundSource: vm.equipmentFundSource.code})}}</h1>
                <h1 ng-if="!vm.editMode">{{'equipmentFundSourceEdit.createEquipmentFundSource.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-fund-source-form" ng-submit="vm.save()">
                    <label for="name">{{'equipmentFundSourceEdit.equipmentFundSourceName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.equipmentFundSource.name" required></input>
                    <label for="code">{{'equipmentFundSourceEdit.equipmentFundSourceCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.equipmentFundSource.code" ng-disabled="vm.editMode"
                           required></input>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentFundSourceEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-equipment-fund-source-form">
                    {{vm.editMode ? 'equipmentFundSourceEdit.save' : 'equipmentFundSourceEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
