<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'adminOperationModeAdd.addOperationMode' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-operation-mode-form" ng-submit="vm.save()">
                    <label for="operationModeName">{{'adminOperationModeAdd.name' | message}}</label>
                    <input id="operationModeName" type="text" ng-model="vm.operationMode.name"  required />
                    <label for="operationModeCode">{{'adminOperationModeAdd.code' | message}}</label>
                    <input id="operationModeCode" type="text" ng-model="vm.operationMode.code"  required />
                    <label for="operationModeDescription">{{'adminOperationModeAdd.description' | message}}</label>
                    <input id="operationModeDescription" type="text" ng-model="vm.operationMode.description" />
                    <label for="operationModeDisplayOrder">{{'adminOperationModeAdd.displayOrder' | message}}</label>
                    <input id="operationModeDisplayOrder" type="text" ng-model="vm.operationMode.displayOrder"  required />
                    <label for="active">
                        <input id="active" type="checkbox" ng-model="vm.operationMode.active" />
                        {{'adminOperationModeAdd.active' | message}}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminOperationModeAdd.cancel' | message}}</button>
                <button class="primary" form="add-operation-mode-form">{{'adminOperationModeAdd.save' | message}}</button>
            </div>
        </div>
    </div>
</div>