.equipment-contract-facilities > .form-inline {
    flex-wrap: wrap;
}

.equipment-contract-equipments > .form-inline {
    flex-wrap: wrap;
}

.equipment-contract-serviceTypes > .form-inline {
    flex-wrap: wrap;
}