<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {{'equipmentContractAdd.addEquipmentContract' | message}}
                </h4>
            </div>
            <div class="modal-body">
                <ng-include src="'equipment-contract-add/equipment-contract-form.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button ui-sref="^">{{'equipmentContractAdd.cancel' | message}}</button>
                <button form="newEquipmentContractForm" class="primary" type="submit" ng-disabled="vm.isSubmitting">
                    {{'equipmentContractAdd.addEquipmentContract' | message}}
                </button>
            </div>
        </div>
    </div>
</div>