<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'programEquipment.addProgramEquipment' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-program-equipment-form" ng-submit="vm.save()">
                    <label for="programs">{{'programEquipment.name' | message}}</label>
                    <select id="programs" ng-model="vm.programEquipment.programId" ng-options="program.id as program.name for program in vm.programs track by program.id" required></select>
                    <label for="equipmentType">{{'programEquipment.type' | message}}</label>
                    <select id="equipmentType" ng-model="vm.programEquipment.equipmentType" ng-options="type as type.name for type in vm.equipmentType track by type.id" required></select>
                    <label for="enableTestCount">
                        <input id="enableTestCount" type="checkbox" ng-model="vm.programEquipment.enableTestCount" />
                        {{'programEquipment.enableTestCount' | message}}
                    </label>
                    <label for="enableTotalColumn">
                        <input id="enableTotalColumn" type="checkbox" ng-model="vm.programEquipment.enableTotalColumn" />
                        {{'programEquipment.enableTotalColumn' | message}}
                    </label>
                    <label for="displayOrder">{{'programEquipment.typeDisplayOrder' | message}}</label>
                    <input id="displayOrder" type="number" ng-model="vm.programEquipment.displayOrder"  required />
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'programEquipment.cancel' | message}}</button>
                <button class="primary" form="add-program-equipment-form">{{'programEquipment.save' | message}}</button>
            </div>
        </div>
    </div>
</div>