<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'equipmentAddInventoryItem.addNewEquipment' | message}}</h4>
            </div>
            <div class="modal-body">
                <form id="add-inventory-item-form" name="addInventoryItemForm" ng-submit="vm.addInventoryItem()">
                    <openlmis-facility-program-select
                        is-supervised="vm.isSupervised"
                        facility="vm.facility"
                        program="vm.program"
                        module="'equipment-add-inventory-item'">
                    </openlmis-facility-program-select>
                    <label for="equipment">{{'equipmentAddInventoryItem.equipment' | message}}</label>
                    <select id="equipment"
                        ng-model="vm.equipment" ng-options="equipment as equipment.name for equipment in vm.equipments"
                        required>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" class="btn btn-default" ng-click="vm.goToInventoryList()">
                    {{'equipmentAddInventoryItem.cancel' | message}}
                </button>
                <button id="add" class="btn btn-primary" form="add-inventory-item-form" type="submit">
                    {{'equipmentAddInventoryItem.next' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
