<h2>{{'equipmentInventoryList.equipmentInventory' | message}}</h2>
<form class="sidebar" ng-submit="vm.search()">
    <openlmis-facility-program-select
            is-supervised="vm.isSupervised"
            program="vm.program"
            facility="vm.facility"
            module="'equipment-inventory-list'">
    </openlmis-facility-program-select>
    <input type="submit" value="{{'equipmentInventoryList.search' | message}}"/>
</form>
<section class="openlmis-table-container">
    <button id="add-inventory-item" class="add" ui-sref="openlmis.equipment.inventory.add"
            ng-show="vm.userHasRightToEdit">
        {{'equipmentInventoryList.addEquipment' | message}}
    </button>
    <form ng-submit="vm.search()" openlmis-table-filter>
        <fieldset class="form-group">
            <label for="functionalStatus">{{'equipmentInventoryList.functionalStatus' | message}}</label>
            <select id="functionalStatus" ng-model="vm.functionalStatus"
                    ng-options="vm.getStatusLabel(status) for status in vm.functionalStatuses">
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="equipmentType">{{'equipmentInventoryList.type' | message}}</label>
            <select id="equipmentType" ng-model="vm.equipmentType"
                    ng-options="type.name for type in vm.equipmentTypes track by type.id">
            </select>
        </fieldset>
        <input type="submit" value="{{'equipmentInventoryList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.inventoryItems || vm.inventoryItems.length === 0">
            {{'equipmentInventoryList.noInventoryItems' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentInventoryList.region' | message}}</th>
            <th>{{'equipmentInventoryList.district' | message}}</th>
            <th>{{'equipmentInventoryList.facility' | message}}</th>
            <th>{{'equipmentInventoryList.equipment' | message}}</th>
            <th>{{'equipmentInventoryList.manufacturer' | message}}</th>
            <th>{{'equipmentInventoryList.model' | message}}</th>
            <th>{{'equipmentInventoryList.type' | message}}</th>
            <th>{{'equipmentInventoryList.functionalStatus' | message}}</th>
            <th>{{'equipmentInventoryList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.inventoryItems">
            <td>{{item.facility.geographicZone.parent.name}}</td>
            <td>{{item.facility.geographicZone.name}}</td>
            <td>{{item.facility.name}}</td>
            <td>{{item.equipment.name}}</td>
            <td>{{item.equipment.manufacturer}}</td>
            <td>{{item.equipment.model.name}}</td>
            <td>{{item.equipment.model.equipmentType.name}}</td>
            <td>
                <div class="equipment-inventory-item-status-box">
                        <span class="equipment-inventory-item-status {{vm.getFunctionalStatusClass(item.functionalStatus)}}"
                              popover="{{vm.getReasonLabel(item.reasonNotFunctional)}}">{{vm.getStatusLabel(item.functionalStatus)}}</span>
                    <a id="functional-status" class="equipment-inventory-item-update-status"
                       ng-click="vm.goToStatusUpdate(item)"></a>
                </div>
            </td>
            <td>
                    <span>
                    <input type="button" class="inventory-item-details"
                           value="{{'equipmentInventoryList.view' | message}}"
                           ui-sref=".item.details({inventoryItemId: item.id, inventoryItem: item})"/>
                    </span>
                <span>
                    <input type="button" class="inventory-item-details"
                           value="{{'equipmentInventoryList.requestService' | message}}"
                           ui-sref=".item.request({inventoryItemId: item.id, inventoryItem: item})"/>
                    </span>

                <span>
                    <input type="button" class="inventory-item-details"
                           value="{{'equipmentInventoryList.log' | message}}"
                           ui-sref=".log({equipmentInventoryId: item.id, zone: item.facility.geographicZone.parent.parent.name})"/>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
