<h2>{{'equipmentServiceTypeList.equipmentServiceTypes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-service-types" class="add" ui-sref="openlmis.administration.equipmentServiceTypes.edit">
        {{'equipmentServiceTypeList.addEquipmentServiceType' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipmentServiceTypes.length === 0">
            {{'equipmentServiceTypeList.noEquipmentServiceTypes' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentServiceTypeList.equipmentServiceTypeName' | message}}</th>
                <th>{{'equipmentServiceTypeList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipmentServiceType in vm.equipmentServiceTypes">
                <td>{{equipmentServiceType.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.equipmentServiceTypes.edit({id: equipmentServiceType.id})">
                        {{'equipmentServiceTypeList.edit' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>