<h2>{{'reasonNotFunctionalList.reasonsNotFunctional' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-reason-not-functional" class="add" ui-sref="openlmis.administration.reasonsNotFunctional.edit">
        {{'reasonNotFunctionalList.addReasonNotFunctional' | message}}
    </button>
    <table>
        <caption ng-if="vm.reasonsNotFunctional.length === 0">
            {{'reasonNotFunctionalList.noReasonNotFunctional' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'reasonNotFunctionalList.reasonNotFunctionalCode' | message}}</th>
            <th>{{'reasonNotFunctionalList.reasonNotFunctionalName' | message}}</th>
            <th>{{'reasonNotFunctionalList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="reasonNotFunctional in vm.reasonsNotFunctional">
            <td>{{reasonNotFunctional.code}}</td>
            <td>{{reasonNotFunctional.name}}</td>
            <td>
                <button ui-sref="openlmis.administration.reasonsNotFunctional.edit({id: reasonNotFunctional.id})">
                    {{'reasonNotFunctionalList.edit' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>