<h2>{{'equipment.equipmentTestTypes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-test-type" class="add" ng-click="vm.goToAddEquipmentTestTypePage()">
        {{'equipmentTestTypeList.addTestType' | message}}
    </button>
    <table>
        <caption ng-if="!vm.equipmentTestTypes || vm.equipmentTestTypes.length === 0">
            {{'equipmentTestTypeList.noTestType' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentTestTypeList.name' | message}}</th>
            <th>{{'equipmentTestTypeList.code' | message}}</th>
            <th>{{'equipmentTestTypeList.category' | message}}</th>
            <th>{{'equipmentTestTypeList.displayOrder' | message}}</th>
            <th>{{'equipmentTestTypeList.enabled' | message}}</th>
            <th>{{'equipmentTestTypeList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="equipmentTestType in vm.equipmentTestTypes">
            <td>{{equipmentTestType.name}}</td>
            <td>{{equipmentTestType.code}}</td>
            <td>{{equipmentTestType.equipmentCategory.name}}</td>
            <td>{{equipmentTestType.displayOrder}}</td>
            <td>{{equipmentTestType.enabled}}</td>
            <td>
                <button ui-sref="openlmis.administration.equipmentTestType.edit({id: equipmentTestType.id})">{{'equipmentTestTypeList.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
