<h2>{{'equipmentList.equipments' | message}}</h2>
<section class="openlmis-table-container">
    <select id="programs"  ng-change="vm.filterTypeByProgramId(vm)" ng-model="vm.selectedProgramId" ng-options="program.id as program.name for program in vm.programs track by program.id" >
        <option value="">Select program</option>
    </select>
    <select id="equipmentType"  ng-change="vm.filterEquipmentByType(vm)" ng-model="vm.equipmentType" ng-options="type.equipmentType.id as type.equipmentType.name for type in vm.programEquipments track by type.id" >
        <option value="">Equipment Type</option>

    </select>

    <button id="add-equipments" class="add" ui-sref="openlmis.administration.equipments.edit">
        {{'equipmentList.addEquipment' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipments.length === 0">
            {{'equipmentList.noEquipments' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentList.equipmentName' | message}}</th>
                <th>{{'equipmentList.equipmentManufacturer' | message}}</th>
                <th>{{'equipmentList.equipmentEnergyType' | message}}</th>
                <th>{{'equipmentList.equipmentModel' | message}}</th>
                <th>{{'equipmentList.equipmentCategory' | message}}</th>
                <th>{{'equipmentList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipment in vm.equipments">
                <td>{{equipment.name}}</td>
                <td>{{equipment.manufacturer}}</td>
                <td>{{equipment.energyType.name}}</td>
                <td>{{equipment.model.name}}</td>
                <td>{{equipment.category.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.equipments.edit({id: equipment.id})">{{'equipmentList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>