<div class="modal equipment-maintenance-response" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    {{vm.maintenanceItem.inventory.equipment.name}}
                </h1>
            </div>
            <div class="modal-body" ng-if="vm.maintenanceItem">
                <form id="maintenance-item-form"
                      name="maintenanceItemForm"
                      ng-submit="vm.save()">
                <dl class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.region' | message}}</dt>
                    <dd>{{vm.maintenanceItem.facilityObject.geographicZone.parent.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.district' | message}}</dt>
                    <dd>{{vm.maintenanceItem.facilityObject.geographicZone.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.facility' | message}}</dt>
                    <dd>{{vm.maintenanceItem.facilityObject.name}}</dd>
                </dl>

                <div class="sub-heading">
                    <h3 class="title">
                        {{'equipmentInventoryItemDetails.equipmentIdentification' | message}}
                    </h3>
                </div>
                <dl class="horizontal-list">
                    <dt>{{'maintenanceItem.inventory.serialNumber' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipmentTrackingId}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.model' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipment.model.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.manufacturer' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipment.manufacturer}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.type' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipment.model.type.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.category' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipment.category.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.energyType' | message}}</dt>
                    <dd>{{vm.maintenanceItem.inventory.equipment.energyType.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.discipline' | message}}</dt>
                    <dd>{{vm.toNames(vm.maintenanceItem.inventory.equipment.category.disciplines)}}</dd>

                    <div id="additional-notes" ng-if="vm.maintenanceItem.additionalNotes">
                        <dt>{{'equipmentInventoryItemDetails.additionalNotes' | message}}</dt>
                        <dd>{{vm.maintenanceItem.additionalNotes}}</dd>
                    </div>
                </dl>

                    <div class="sub-heading">
                        <h3 class="title">
                            {{'equipmentMaintenanceResponse.reason' | message}}
                        </h3>
                    </div>
                    <dl class="horizontal-list">
                        <dt>{{'equipmentMaintenanceResponse.functionalStatus' | message}}</dt>
                        <dd>{{vm.getFunctionalStatusLabel() | message}}</dd>

                        <div ng-if="!vm.isEquipmentFunctioning()">
                            <dt>{{'equipmentMaintenanceResponse.reasonNotFunctional' | message}}</dt>
                            <dd>{{vm.maintenanceItem.inventory.reasonNotFunctional.name}}</dd>
                        </div>

                        <dt>{{'equipmentMaintenanceResponse.maintenanceReason' | message}}</dt>
                        <dd>{{vm.maintenanceItem.reason.name}}</dd>
                    </dl>

                    <div class="sub-heading">
                        <h3 class="title">
                            {{'equipmentInventoryItemDetails.serviceReport' | message}}
                        </h3>
                    </div>

                    <div class="horizontal-list">


                        <dt>{{'equipmentInventoryItemDetails.findings' | message}}</dt>
                        <fieldset>
                            <input id="finding" type="text" ng-model="vm.maintenanceResponse.finding" required/>
                        </fieldset>

                        <dt>{{'equipmentInventoryItemDetails.servicePerformed' | message}}</dt>
                        <fieldset>
                            <input type="text" ng-model="vm.maintenanceResponse.servicePerformed" required="true"/>
                    </fieldset>

                    <dt>{{'equipmentInventoryItemDetails.recommendation' | message}}</dt>
                    <fieldset>
                        <input type="text" ng-model="vm.maintenanceResponse.recommendation"/>
                    </fieldset>

                    <dt>{{'equipmentInventoryItemDetails.nextServiceDate' | message}}</dt>
                    <fieldset>
                        <input id="nextServiceDate" type="date" ng-model="vm.maintenanceResponse.nextVisitDate"
                               min-date="vm.minDate" required/>
                    </fieldset>
                </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="close" ui-sref="openlmis.equipment.maintenance">
                    {{'equipmentInventoryItemDetails.close' | message}}
                </button>
             <!--   <button id="edit" class="primary" ng-click="vm.save(vm.maintenanceItem)">
                    {{'equipmentInventoryItemDetails.response' | message}}
                </button>-->

                <button id="update"
                        class="primary"
                        type="submit"
                        form="maintenance-item-form">
                    {{'equipmentInventoryItemStatus.update' | message}}
                </button>

            </div>
        </div>
    </div>
