<h2>{{'equipmentContractList.contracts' | message}}</h2>
<section class="openlmis-table-container">
    <button class="add" ui-sref="openlmis.administration.equipmentContractsAdd">
        {{'equipmentContractList.addContract' | message}}
    </button>
    <table>
        <caption ng-if="!vm.contracts || vm.contracts.length === 0">
            {{'equipmentContractList.noMatchesForContract' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentContractList.identifier' | message}}</th>
            <th>{{'equipmentContractList.vendor' | message}}</th>
            <th>{{'equipmentContractList.date' | message}}</th>
            <th>{{'equipmentContractList.startDate' | message}}</th>
            <th>{{'equipmentContractList.endDate' | message}}</th>
            <th>{{'equipmentContractList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contract in vm.contracts">
            <td>{{contract.identifier}}</td>
            <td>{{contract.vendor.name}}</td>
            <td>{{contract.date}}</td>
            <td>{{contract.startDate}}</td>
            <td>{{contract.endDate}}</td>
            <td>
                <button ui-sref=".edit({id: contract.id})">
                    {{'equipmentContractList.edit' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
