<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'equipmentEdit.editEquipment.title' | message:({equipment: vm.equipment.manufacturer})}}</h1>
                <h1 ng-if="!vm.editMode">{{'equipmentEdit.createEquipment.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-form" ng-submit="vm.save()">
                    <label for="name">{{'equipmentEdit.equipmentName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.equipment.name" required></input>
                    <label for="manufacturer">{{'equipmentEdit.equipmentManufacturer' | message}}</label>
                    <input type="text" id="manufacturer" ng-model="vm.equipment.manufacturer" required></input>
                    <label for="equipmentEnergyType">{{'equipmentEdit.equipmentEnergyType' | message}}</label>
                    <select id="equipmentEnergyType" ng-model="vm.equipment.energyType"
                            ng-options="type as type.name for type in vm.equipmentEnergyTypes track by type.id"
                            required></select>
                    <label for="equipmentModel">{{'equipmentEdit.equipmentModel' | message}}</label>
                    <select id="equipmentModel" ng-model="vm.equipment.model"
                            ng-options="model as model.name for model in vm.equipmentModels track by model.id"
                            required></select>
                    <label for="equipmentCategory">{{'equipmentEdit.equipmentCategory' | message}}</label>
                    <select id="equipmentCategory" ng-model="vm.equipment.category"
                            ng-options="cat as cat.name for cat in vm.equipmentCategories track by cat.id"
                            required></select>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-equipment-form">
                    {{vm.editMode ? 'equipmentEdit.save' : 'equipmentEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
