<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'equipmentServiceTypeEdit.editEquipmentServiceType.title' | message:({equipmentServiceType: vm.equipmentServiceType.name})}}</h1>
                <h1 ng-if="!vm.editMode">{{'equipmentServiceTypeEdit.createEquipmentServiceType.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-service-type-form" ng-submit="vm.save()">
                    <label for="name">{{'equipmentServiceTypeEdit.equipmentServiceTypeName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.equipmentServiceType.name" required></input>
                    <label for="description">{{'equipmentServiceTypeEdit.equipmentServiceTypeDescription' | message}}</label>
                    <textarea id="description"
                              ng-model="vm.equipmentServiceType.description"
                              required>
                    </textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentServiceTypeEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-equipment-service-type-form">
                    {{vm.editMode ? 'equipmentServiceTypeEdit.save' : 'equipmentServiceTypeEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
