<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'equipmentEnergyTypeEdit.editEquipmentEnergyType.title' | message:({equipmentEnergyType: vm.equipmentEnergyType.code})}}</h1>
                <h1 ng-if="!vm.editMode">{{'equipmentEnergyTypeEdit.createEquipmentEnergyType.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-energy-type-form" ng-submit="vm.save()">
                    <label for="name">{{'equipmentEnergyTypeEdit.equipmentEnergyTypeName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.equipmentEnergyType.name" required></input>
                    <label for="code">{{'equipmentEnergyTypeEdit.equipmentEnergyTypeCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.equipmentEnergyType.code" ng-disabled="vm.editMode"
                           required></input>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentEnergyTypeEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-equipment-energy-type-form">
                    {{vm.editMode ? 'equipmentEnergyTypeEdit.save' : 'equipmentEnergyTypeEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
