<h2>{{'adminOperationModeList.operationModes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-operationMode" class="add" ng-click="vm.goToAddOperationModePage()">
        {{'adminOperationModeList.addOperationMode' | message}}
    </button>
    <table>
        <caption ng-if="!vm.operationModes || vm.operationModes.length === 0">
            {{'adminOperationModeList.noOperationModes' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminOperationModeList.name' | message}}</th>
                <th>{{'adminOperationModeList.code' | message}}</th>
                <th>{{'adminOperationModeList.displayOrder' | message}}</th>
                <th>{{'adminOperationModeList.active' | message}}</th>
                <th>{{'adminOperationModeList.description' | message}}</th>
                <th>{{'adminOperationModeList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="operationMode in vm.operationModes">
                <td>{{operationMode.name}}</td>
                <td>{{operationMode.code}}</td>
                <td>{{operationMode.displayOrder}}</td>
                <td>
                    <i ng-class="{'icon-ok': operationMode.active}"></i>
                </td>
                <td>{{operationMode.description}}</td>
                <td>
                    <button
                        ui-sref="openlmis.administration.operationModes.edit({id: operationMode.id})">{{'adminOperationModeList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>