<h2>{{'equipment.programEquipments' | message}}</h2>
<section class="openlmis-table-container">
    <select id="programs"  ng-change="vm.filterByProgramId(vm)" ng-model="vm.selectedProgramId" ng-options="program.id as program.name for program in vm.programs track by program.id" >
    </select>

    <button id="add-equipments" class="add" ui-sref="openlmis.administration.programEquipments.add">
        {{'program.addEquipment' | message}}
    </button>
    <table>
        <caption ng-if="vm.programEquipments.length === 0">
            {{'program.noEquipments' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'program.name' | message}}</th>
            <th>{{'program.equipmentType' | message}}</th>
            <th>{{'program.withEnableTotalColumn' | message}}</th>
            <th>{{'program.enableTestCount' | message}}</th>
            <th>{{'program.displayOrder' | message}}</th>
            <th>{{'equipmentList.actions' | message}}</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="equipment in vm.programEquipments">
            <td>{{ (vm.programs | filter : {id: equipment.programId})[0].name }}</td>
            <td>{{equipment.equipmentType.name}}</td>
            <td>{{equipment.enableTotalColumn}}</td>
            <td>{{equipment.enableTestCount}}</td>
            <td>{{equipment.displayOrder}}</td>
            <td>
                <button class="danger" ng-click="vm.remove(equipment.id)">{{'programEquipment.delete' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>