<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'equipmentModelEdit.editEquipmentModel.title' | message:({equipmentModel: vm.equipmentModel.code})}}</h1>
                <h1 ng-if="!vm.editMode">{{'equipmentModelEdit.createEquipmentModel.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-model-form" ng-submit="vm.save()">
                    <label for="equipmentType">{{'equipmentModelEdit.equipmentModelEquipmentType' | message}}</label>
                    <select id="equipmentType" ng-model="vm.equipmentModel.equipmentType"
                            ng-options="type as type.name for type in vm.equipmentTypes track by type.id"
                            required></select>
                    <label for="name">{{'equipmentModelEdit.equipmentModelName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.equipmentModel.name" required></input>
                    <label for="code">{{'equipmentModelEdit.equipmentModelCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.equipmentModel.code" ng-disabled="vm.editMode"
                           required></input>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentModelEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-equipment-model-form">
                    {{vm.editMode ? 'equipmentModelEdit.save' : 'equipmentModelEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
