<h2>{{'equipmentFundSourceList.equipmentFundSources' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-fund-sources" class="add" ui-sref="openlmis.administration.equipmentFundSources.edit">
        {{'equipmentFundSourceList.addEquipmentFundSource' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipmentFundSources.length === 0">
            {{'equipmentFundSourceList.noEquipmentFundSources' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentFundSourceList.equipmentFundSourceCode' | message}}</th>
                <th>{{'equipmentFundSourceList.equipmentFundSourceName' | message}}</th>
                <th>{{'equipmentFundSourceList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipmentFundSource in vm.equipmentFundSources">
                <td>{{equipmentFundSource.code}}</td>
                <td>{{equipmentFundSource.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.equipmentFundSources.edit({id: equipmentFundSource.id})">
                        {{'equipmentFundSourceList.edit' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>