<h2>{{'equipmentContractEdit.editEquipmentContract' | message}}</h2>
<ng-include src="'equipment-contract-add/equipment-contract-form.html'"></ng-include>
<div class="openlmis-toolbar button-group">
    <div class="button-group primary">
        <button ng-click="vm.save()" class="primary">
            {{'equipmentContractEdit.updateEquipmentContract' | message}}
        </button>
    </div>
    <div class="button-group">
        <button ui-sref="^">{{'equipmentContractEdit.cancel' | message}}</button>
    </div>
</div>