<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {{'equipmentEditInventoryItem.' + (vm.inventoryItem.id ? 'editEquipmentDetails' : 'addNewEquipment') | message}}
                </h2>
            </div>
            <div class="modal-body">
                <form id="edit-inventory-item-form"
                    name="editInventoryItemForm"
                    ng-submit="vm.add()">

                    <dl class="horizontal-list">
                        <dt>{{'equipmentEditInventoryItem.district' | message}}</dt>
                        <dd>{{vm.inventoryItem.facility.geographicZone.name}}</dd>
                        <dt>{{'equipmentEditInventoryItem.facility' | message}}</dt>
                        <dd>{{vm.inventoryItem.facility.name}}</dd>
                        <dt>{{'equipmentEditInventoryItem.program' | message}}</dt>
                        <dd>{{vm.inventoryItem.program.name}}</dd>
                        <dt>{{'equipmentEditInventoryItem.equipment' | message}}</dt>
                        <dd>{{vm.inventoryItem.equipment.name}}</dd>
                    </dl>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'equipmentEditInventoryItem.equipmentIdentification' | message}}</h3>
                        </div>

                        <label for="serial-number">
                            {{'equipmentEditInventoryItem.serialNumber' | message}}
                        </label>

                        <input id="serial-number"
                            ng-model="vm.inventoryItem.equipmentTrackingId"
                            type="text"
                            required/>

                    </fieldset>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'equipmentEditInventoryItem.equipmentHistory' | message}}</h3>
                        </div>

                        <fieldset id="utilization" class="form-group">

                            <legend>{{'equipmentEditInventoryItem.utilization' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.utilizationStatuses">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.utilization"
                                    ng-value="option"
                                    required/>
                                {{vm.getUtilizationStatusLabel(option) | message}}
                            </label>

                        </fieldset>

                        <fieldset id="registrationStatus" class="form-group">

                            <legend>{{'equipmentEditInventoryItem.registrationStatus' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.registrationStatuses">
                                <input type="radio"
                                       ng-model="vm.inventoryItem.registrationStatus"
                                       ng-value="option"
                                       required/>
                                {{vm.getRegistrationStatusLabel(option) | message}}
                            </label>

                        </fieldset>


                        <label for="date-of-installation">
                            {{'equipmentEditInventoryItem.dateOfInstallation' | message}}
                        </label>

                        <input class="date"
                            id="date-of-installation"
                            name="dateOfInstallation"
                            type="date"
                            ng-model="vm.inventoryItem.dateOfInstallation"
                            required/>
                    </fieldset>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">
                                {{'equipmentEditInventoryItem.equipmentFundingInformation' | message}}
                            </h3>
                        </div>
                        <label for="fundSource">{{'equipmentAddInventoryItem.fundSource' | message}}</label>
                        <select id="fundSource"
                                ng-model="vm.inventoryItem.fundSource"
                                ng-options="fundSource as fundSource.name for fundSource in vm.equipmentFundSources"
                                required>
                        </select>
                        <label for="source">{{'equipmentEditInventoryItem.source' | message}}</label>

                        <input id="source"
                            type="text"
                            ng-model="vm.inventoryItem.source"/>

                        <p class="note">
                            {{'equipmentEditInventoryItem.source.description' | message}}
                        </p>
                        <label for="purchasePrice">{{'equipmentEditInventoryItem.purchasePrice' | message}}</label>

                        <input id="purchasePrice"
                               type="number"
                               ng-model="vm.inventoryItem.purchasePrice"/>

                        <label for="date-of-warranty-expiry">
                            {{'equipmentEditInventoryItem.dateOfWarrantyExpiry' | message}}
                        </label>

                        <input class="date"
                            id="date-of-warranty-expiry"
                            name="dateOfWarrantyExpiry"
                            ng-model="vm.inventoryItem.dateOfWarrantyExpiry"
                            type="date"/>

                    </fieldset>

                    <fieldset>

                        <label for="additional-notes">
                            {{'equipmentEditInventoryItem.additionalNotes' | message}}
                        </label>

                        <textarea id="additional-notes"
                            ng-model="vm.inventoryItem.additionalNotes">
                        </textarea>

                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">

                <button id="cancel"
                    class="btn btn-default"
                    ng-click="vm.cancel()">
                    {{'equipmentEditInventoryItem.cancel' | message}}
                </button>

                <button id="add"
                    class="btn btn-primary"
                    form="edit-inventory-item-form"
                    type="submit">
                    {{'equipmentEditInventoryItem.save' | message}}
                </button>

            </div>
        </div>
    </div>
</div>
