<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">
                    {{'reasonNotFunctionalEdit.editReasonNotFunctional.title' | message:({reasonNotFunctional:
                    vm.reasonNotFunctional.code})}}</h1>
                <h1 ng-if="!vm.editMode">{{'reasonNotFunctionalEdit.createReasonNotFunctional.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-reasonNotFunctional-form" ng-submit="vm.save()">
                    <label for="code">{{'reasonNotFunctionalEdit.reasonNotFunctionalCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.reasonNotFunctional.code" required></input>
                    <label for="name">{{'reasonNotFunctionalEdit.reasonNotFunctionalName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.reasonNotFunctional.name" required></input>
                    <label for="displayOrder">{{'reasonNotFunctionalEdit.displayOrder' | message}}</label>
                    <input id="displayOrder" type="number" ng-model="vm.reasonNotFunctional.displayOrder" required/>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'reasonNotFunctionalEdit.cancel' | message}}
                </button>
                <button class="primary" type="submit" form="edit-reasonNotFunctional-form">
                    {{vm.editMode ? 'reasonNotFunctionalEdit.save' : 'reasonNotFunctionalEdit.create' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
