<div class="modal inventory-item-details" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    {{vm.inventoryItem.equipment.name}}
                </h1>
            </div>
            <div class="modal-body" ng-if="vm.inventoryItem">
                <form id="maintenance-request-update-form"
                      name="maintenanceRequestUpdateForm"
                      ng-submit="vm.save()">
                <dl class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.region' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.geographicZone.parent.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.district' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.geographicZone.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.facility' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.program' | message}}</dt>
                    <dd id="program">{{vm.inventoryItem.program.name}}</dd>
                </dl>
                <div class="sub-heading">
                    <h3 class="title">
                        {{'equipmentInventoryItemDetails.equipmentIdentification' | message}}
                    </h3>
                </div>
                <dl class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.serialNumber' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipmentTrackingId}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.model' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.model.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.manufacturer' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.manufacturer}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.type' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.model.type.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.category' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.category.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.energyType' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.energyType.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.discipline' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.category.discipline.name}}</dd>

                    <div id="additional-notes" ng-if="vm.inventoryItem.additionalNotes">
                        <dt>{{'equipmentInventoryItemDetails.additionalNotes' | message}}</dt>
                        <dd>{{vm.inventoryItem.additionalNotes}}</dd>
                    </div>
                </dl>

                <div class="sub-heading">
                    <h3 class="title">
                        {{'equipmentInventoryItemRequest.maintenanceRequestInfo' | message}}
                    </h3>
                </div>

                    <fieldset id="update-fieldset" class="form-group">

                        <label for="vendor" required>
                            {{'equipmentInventoryItemRequest.serviceVendor' | message}}
                        </label>
                        <select id="vendor"
                                ng-model="vm.inventoryItemMaintenanceRequest.vendor"
                                ng-options="vendor as vendor.name for vendor in vm.vendors track by vendor.id"
                                placeholder="{{'equipmentInventoryItemRequest.selectNewVendor' | message}}"
                                required>
                        </select>

                        <fieldset id="selectionOption">
                            <label for="corrective-maintenance" class="radio">
                                {{'equipmentInventoryItemRequest.correctiveMaintenance' | message}}

                            <input type="radio" name="selectionOption"
                                   ng-model="vm.inventoryItemMaintenanceRequest.isSelected"
                                   id="corrective-maintenance" ng-value="false"
                            />
                            </label>

                            <label for="ppm" class="radio">
                                {{'equipmentInventoryItemRequest.ppm' | message}}

                            <input  ng-model="vm.inventoryItemMaintenanceRequest.isSelected"
                                    id="ppm" type="radio" name="selectionOption" ng-value="true"
                                    ng-checked="vm.inventoryItemMaintenanceRequest.initChecked == true"

                            />

                            </label>
                        </fieldset>
                        <label for="maintenanceReason" required>
                            {{'equipmentInventoryItemRequest.maintenanceReason' | message}}
                        </label>

                        <select id="maintenanceReason"
                                ng-model="vm.inventoryItemMaintenanceRequest.reason"
                                ng-options="reason as reason.name for reason in vm.maintenanceReasons"
                                placeholder="{{'equipmentInventoryItemRequest.selectNewReason' | message}}"
                                required>
                        </select>
                        <fieldset>
                            <label for="recommended-date">
                                {{'equipmentInventoryItemRequest.recommendedVisitDate' | message}}
                            </label>

                            <input class="date"
                                   ng-disabled="vm.inventoryItemMaintenanceRequest.isSelected"
                                   id="recommended-date"
                                   name="recommendedDate" min-date="vm.minDate"
                                   type="date"
                                   ng-model="vm.inventoryItemMaintenanceRequest.recommendedDate"
                                   />
                        </fieldset>

                        <fieldset>
                            <label for="equipment-break-down-Date">
                                {{'equipmentInventoryItemRequest.equipmentBreakDownDate' | message}}
                            </label>

                            <input class="date"
                                   ng-disabled="vm.inventoryItemMaintenanceRequest.isSelected"
                                   id="equipment-break-down-Date"
                                   name="breakDownDate"
                                   type="date"
                                   ng-model="vm.inventoryItemMaintenanceRequest.breakDownDate"
                                   max-date="vm.maxDate"
                                   />
                        </fieldset>

                        <fieldset>

                            <label for="other-comments">
                                {{'equipmentInventoryItemRequest.otherComments' | message}}
                            </label>

                            <textarea id="other-comments"
                                      ng-model="vm.inventoryItemMaintenanceRequest.comment">
                        </textarea>

                        </fieldset>

                    </fieldset>
                    <div class="modal-footer">
                    <button id="close" ui-sref="openlmis.equipment.inventory">
                        {{'equipmentInventoryItemDetails.close' | message}}
                    </button>
                    <button id="update"
                            class="primary"
                            type="submit"
                            form="maintenance-request-update-form"
                            ng-click="vm.sendRequest(vm.inventoryItemMaintenanceRequest, vm.inventoryItem)"
                            ng-show="true">
                        {{'equipmentInventoryItemStatus.update' | message}}
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
