<h2>{{'equipmentMaintenanceList.equipmentMaintenanceList' | message}}</h2>

<section class="openlmis-table-container">
    <section>
        <caption> {{'equipmentMaintenanceList.message' | message}}</caption>
    </section>

    <table>
        <caption ng-if="!vm.maintenanceRequests || vm.maintenanceRequests.length === 0">
            {{'equipmentMaintenanceList.noRequests' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentInventoryList.region' | message}}</th>
                <th>{{'equipmentInventoryList.district' | message}}</th>
                <th>{{'equipmentInventoryList.facility' | message}}</th>
                <th>{{'equipmentInventoryList.equipment' | message}}</th>
                <th>{{'equipmentInventoryList.manufacturer' | message}}</th>
                <th>{{'equipmentInventoryList.model' | message}}</th>
                <th>{{'equipmentMaintenanceList.requestDate' | message}}</th>
                <th>{{'equipmentMaintenanceList.comment' | message}}</th>
                <th>{{'equipmentMaintenanceList.recommendedDate' | message}}</th>
                <th>{{'equipmentInventoryList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.maintenanceRequests">
                <td>{{item.facilityObject.geographicZone.parent.name}}</td>
                <td>{{item.facilityObject.geographicZone.name}}</td>
                <td>{{item.facilityObject.name}}</td>
                <td>{{item.inventory.equipment.name}}</td>
                <td>{{item.inventory.equipment.manufacturer}}</td>
                <td>{{item.inventory.equipment.model.name}}</td>
                <td>{{item.requestDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.comment}}</td>
                <td>{{item.recommendedDate | date: 'dd-MM-yyyy' }}</td>
                <td>
                    <span>
                        <!--
                        ui-sref=".response({inventoryItemId: item.id, inventoryItem: item})"
-->

                    <input type="button" class="inventory-item-details"
                        value="{{'equipmentMaintenanceList.respond' | message}}" ng-click="vm.goToResponse(item)"
                    />
                    </span>

                </td>
            </tr>
        </tbody>
    </table>
<!--
    <openlmis-pagination/>
-->
</section>
