<h2>{{'equipmentModelList.equipmentModels' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-models" class="add" ui-sref="openlmis.administration.equipmentModels.edit">
        {{'equipmentModelList.addEquipmentModel' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipmentModels.length === 0">
            {{'equipmentModelList.noEquipmentModels' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentModelList.equipmentModelEquipmentType' | message}}</th>
                <th>{{'equipmentModelList.equipmentModelCode' | message}}</th>
                <th>{{'equipmentModelList.equipmentModelName' | message}}</th>
                <th>{{'equipmentModelList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipmentModel in vm.equipmentModels">
                <td>{{equipmentModel.equipmentType.name}}</td>
                <td>{{equipmentModel.code}}</td>
                <td>{{equipmentModel.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.equipmentModels.edit({id: equipmentModel.id})">{{'equipmentModelList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>