.inventory-item-details {
    aside.equipment-inventory-item-status {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        &::before {
            font-size: 2em;
            position: absolute;
        }

        & > p {
            margin: 0 0 0 2.5em;

            &:first-of-type {
                font-weight: bold;
            }
        }

        & > button {
            position: absolute;
            right: 0;
            margin-right: 1.5em;
        }
    }

    .horizontal-list dd {
        margin: 0 0 0 50%;
    }

    dl {
        margin-bottom: 0;
    }

    dl + div {
        margin-top: 1em;
    }

    #additional-notes > dd {
        white-space: pre-line;
        word-break: break-word;
    }
}
