<div class="modal inventory-item-details" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    {{vm.inventoryItem.equipment.name}}
                </h1>
            </div>
            <div class="modal-body" ng-if="vm.inventoryItem">
                <aside class="equipment-inventory-item-status {{vm.getFunctionalStatusClass()}}">
                    <p>{{vm.getFunctionalStatusLabel() | message}}</p>
                    <button ng-show="vm.userHasRightToEdit" id="status-update"
                            ng-click="vm.goToStatusUpdate(vm.inventoryItem)">
                        {{'equipmentInventoryItemDetails.updateStatus' | message}}
                    </button>
                </aside>
                <dl class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.region' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.geographicZone.parent.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.district' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.geographicZone.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.facility' | message}}</dt>
                    <dd>{{vm.inventoryItem.facility.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.program' | message}}</dt>
                    <dd id="program">{{vm.inventoryItem.program.name}}</dd>
                </dl>

                <div class="sub-heading">
                    <h3 class="title">
                        {{'equipmentInventoryItemDetails.equipmentIdentification' | message}}
                    </h3>
                </div>
                <dl class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.serialNumber' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipmentTrackingId}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.model' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.model.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.manufacturer' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.manufacturer}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.type' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.model.type.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.category' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.category.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.energyType' | message}}</dt>
                    <dd>{{vm.inventoryItem.equipment.energyType.name}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.discipline' | message}}</dt>
                    <dd>{{vm.toNames(vm.inventoryItem.equipment.category.disciplines)}}</dd>

                    <div id="additional-notes" ng-if="vm.inventoryItem.additionalNotes">
                        <dt>{{'equipmentInventoryItemDetails.additionalNotes' | message}}</dt>
                        <dd>{{vm.inventoryItem.additionalNotes}}</dd>
                    </div>
                </dl>

                <div class="sub-heading">
                    <h3 class="title">
                        {{'equipmentInventoryItemDetails.equipmentHistory' | message}}
                    </h3>
                </div>

                <div class="horizontal-list">
                    <dt>{{'equipmentInventoryItemDetails.source' | message}}</dt>
                    <dd>{{vm.inventoryItem.source}}</dd>
                    <div ng-if="vm.inventoryItem.fundSource">
                        <dt>{{'equipmentInventoryItemDetails.fundSource' | message}}</dt>
                        <dd>{{vm.inventoryItem.fundSource.name}}</dd>
                    </div>
                    <dt>{{'equipmentInventoryItemDetails.registrationStatus' | message}}</dt>
                    <dd>{{vm.getRegistrationStatusLabel(vm.inventoryItem.registrationStatus) | message}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.purchasePrice' | message}}</dt>
                    <dd>{{vm.inventoryItem.purchasePrice}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.utilization' | message}}</dt>
                    <dd>{{vm.getUtilizationStatusLabel(vm.inventoryItem.utilization) | message}}</dd>
                    <dt>{{'equipmentInventoryItemDetails.dateOfInstallation' | message}}</dt>
                    <dd>{{vm.inventoryItem.dateOfInstallation}}</dd>

                    <div ng-if="vm.inventoryItem.dateOfWarrantyExpiry">
                        <dt>{{'equipmentInventoryItemDetails.dateOfWarrantyExpiry' | message}}</dt>
                        <dd>{{vm.inventoryItem.dateOfWarrantyExpiry}}</dd>
                    </div>

                    </dl>
                </div>
                <div class="modal-footer">
                    <button id="close" ui-sref="openlmis.equipment.inventory">
                        {{'equipmentInventoryItemDetails.close' | message}}
                    </button>
                    <button ng-show="vm.userHasRightToEdit" id="edit" class="primary"
                            ng-click="vm.goToEditPage(vm.inventoryItem)">
                        {{'equipmentInventoryItemDetails.edit' | message}}
                    </button>
                </div>
            </div>
        </div>
    </div>
