<h2>{{'disciplineView.edit' | message: {discipline: vm.discipline.name} }}</h2>
<form id="discipline-edit" ng-submit="vm.saveDisciplineDetails()">
    <fieldset class="form-group">
        <label for="name">{{'disciplineView.name' | message}}</label>
        <input id="name" class="form-control" ng-model="vm.discipline.name" required/>
    </fieldset>
    <fieldset class="form-group">
        <label for="code">{{'disciplineView.code' | message}}</label>
        <input id="code" class="form-control" ng-model="vm.discipline.code" required/>
    </fieldset>
    <fieldset class="form-group">
        <label for="level">{{'disciplineView.displayOrder' | message}}</label>
        <input id="level" class="form-control" ng-model="vm.discipline.displayOrder" required/>
    </fieldset>
    <label for="disciplineEnabled" class="checkbox">
        <input id="disciplineEnabled" type="checkbox" ng-model="vm.discipline.enabled" />
        {{'disciplineView.enabled' | message}}
    </label>
    <div class="button-group">
        <button ng-click="vm.saveDisciplineDetails()">{{'disciplineView.save' | message}}</button>
        <button ng-click="vm.goToDisciplineList()">{{'disciplineView.cancel' | message}}</button>
    </div>
</form>