<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'equipmentEquipmentType.edit' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-test-type-form" ng-submit="vm.save()">
                    <label for="equipmentCategoryName">{{'equipmentEquipmentType.name' | message}}</label>
                    <input id="equipmentCategoryName" type="text" ng-model="vm.equipmentTestType.name"  required />
                    <label for="equipmentCategoryCode">{{'equipmentEquipmentType.code' | message}}</label>
                    <input id="equipmentCategoryCode" type="text" ng-model="vm.equipmentTestType.code"  required />
                    <label for="equipmentType">{{'equipmentEquipmentType.category' | message}}</label>
                    <select id="equipmentType" ng-model="vm.equipmentTestType.equipmentCategory" ng-options="category as category.name for category in vm.equipmentCategories track by category.id" required></select>
                    <label for="equipmentCategoryDisplayOrder">{{'equipmentEquipmentType.displayOrder' | message}}</label>
                    <input id="equipmentCategoryDisplayOrder" type="number" ng-model="vm.equipmentTestType.displayOrder"  required />
                    <label for="enabled">
                        <input id="enabled" type="checkbox" ng-model="vm.equipmentTestType.enabled" />
                        {{'equipmentEquipmentType.enabled' | message}}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentEquipmentType.cancel' | message}}</button>
                <button class="primary" form="edit-equipment-test-type-form">{{'equipmentEquipmentType.save' | message}}</button>
            </div>
        </div>
    </div>
</div>