<h2>{{'equipmentContractViewList.contracts' | message}}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.contracts || vm.contracts.length === 0">
            {{'equipmentContractViewList.noMatchesForContract' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentContractViewList.identifier' | message}}</th>
            <th>{{'equipmentContractViewList.vendor' | message}}</th>
            <th>{{'equipmentContractViewList.date' | message}}</th>
            <th>{{'equipmentContractViewList.startDate' | message}}</th>
            <th>{{'equipmentContractViewList.endDate' | message}}</th>
            <th>{{'equipmentContractViewList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contract in vm.contracts">
            <td>{{contract.identifier}}</td>
            <td>{{contract.vendor.name}}</td>
            <td>{{contract.date}}</td>
            <td>{{contract.startDate}}</td>
            <td>{{contract.endDate}}</td>
            <td>
                <button ui-sref=".view({id: contract.id})">
                    {{'equipmentContractViewList.view' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
