<h2>{{'equipment.orderables' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipments-orderable" class="add" ui-sref="openlmis.administration.equipmentsOrderable.add">
        {{'orderable.addEquipment' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipmentsOrderables.length === 0">
            {{'orderable.noEquipments' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'orderable.equipment' | message}}</th>
            <th>{{'orderable.name' | message}}</th>
            <th>{{'orderable.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="orderable in vm.equipmentsOrderables">
            <td>{{orderable.equipment.name}}</td>
            <td>{{ (vm.orderables | filter: {id: orderable.orderableId})[0].fullProductName }}</td>
            <td>
                <button class="danger" ng-click="vm.remove(orderable.id)">
                    {{'programEquipment.delete' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>