.facility-equipment-status {
	@extend .equipment-inventory-item-status;
	margin: 0;

	&::before {
		font-size: 1.5em;
	}

	&.is-unknown::before {
		@extend .equipment-inventory-item-status.is-unserviceable::before;
	}

	&.is-not-fully-functioning::before {
		color: $yellow;
	}

	&.is-loading-status::before {
	    @extend .loading;
	    @extend .loading::before;
		color: $brand_primary;
        font-size: 1.5em;
    }
    
   	&.no-equipment::before {
		@extend .equipment-inventory-item-status.is-awaiting-repair::before;
	}

}