<ul class="list-unstyled">
    <li ng-repeat="item in vm.inventoryItems" class="equipment-inventory-item-status-box">
        <span class="equipment-inventory-item-status {{vm.getFunctionalStatusClass(item.functionalStatus)}}">{{item.referenceName}}</span>
    </li>
</ul>