<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'equipmentCategory.addEquipmentCategory' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-equipment-category-form" ng-submit="vm.save()">
                    <label for="equipmentCategoryName">{{'equipmentCategory.categoryName' | message}}</label>
                    <input id="equipmentCategoryName" type="text" ng-model="vm.equipmentCategory.name" required/>
                    <label for="equipmentCategoryCode">{{'equipmentCategory.categoryCode' | message}}</label>
                    <input id="equipmentCategoryCode" type="text" ng-model="vm.equipmentCategory.code" required/>
                    <label for="equipmentType">{{'equipmentCategory.type' | message}}</label>
                    <select id="equipmentType"
                            ng-model="vm.equipmentCategory.equipmentType"
                            ng-options="type as type.name for type in vm.equipmentTypes"
                            required>
                    </select>
                    <label for="equipmentCategoryDisplayOrder">{{'equipmentCategory.categoryDisplayOrder' | message}}</label>
                    <input id="equipmentCategoryDisplayOrder" type="number" ng-model="vm.equipmentCategory.displayOrder"
                           required/>
                    <label for="enabled">
                        <input id="enabled" type="checkbox" ng-model="vm.equipmentCategory.enabled"/>
                        {{'equipmentCategory.enabled' | message}}
                    </label>
                </form>
                <section class="equipment-category-disciplines">
                    <h3>{{'equipmentCategory.disciplineTitle' | message}}</h3>
                    <p>{{'equipmentCategory.disciplineDescription' | message}}</p>

                    <form class="form-inline" ng-submit="vm.addDiscipline()" reload-form>
                        <div class="form-group">
                            <label for="discipline-select">{{'equipmentCategory.discipline' | message}}</label>
                            <select id="discipline-select"
                                    ng-options="discipline as discipline.name for discipline in vm.disciplines"
                                    required
                                    ng-model="vm.selectedDiscipline">
                            </select>
                        </div>

                        <button type="submit" class="add">{{'equipmentCategory.add' | message}}</button>
                    </form>
                </section>
                <section class="openlmis-table-container">
                    <table>
                        <caption
                                ng-if="!vm.equipmentCategory.disciplines || vm.equipmentCategory.disciplines.length === 0">
                            {{'equipmentCategory.noMatchesForDiscipline' | message}}
                        </caption>

                        <thead>
                        <tr>
                            <th>{{'equipmentCategory.name' | message}}</th>
                            <th>{{'equipmentCategory.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="discipline in vm.equipmentCategory.disciplines">
                            <td>{{discipline.name}}</td>
                            <td>
                                <button class="danger"
                                        ng-click="vm.removeDiscipline(discipline)">
                                    {{'equipmentCategory.remove' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentCategory.cancel' | message}}</button>
                <button class="primary" form="edit-equipment-category-form">{{'equipmentCategory.save' | message}}</button>
            </div>
        </div>
    </div>
</div>