<h2>{{'equipmentVendorList.vendors' | message}}</h2>
<section class="openlmis-table-container">
    <button class="add" ui-sref="openlmis.administration.equipmentVendorsAdd">
        {{'equipmentVendorList.addVendor' | message}}
    </button>
    <table>
        <caption ng-if="!vm.vendors || vm.vendors.length === 0">
            {{'equipmentVendorList.noMatchesForVendor' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'equipmentVendorList.name' | message}}</th>
            <th>{{'equipmentVendorList.email' | message}}</th>
            <th>{{'equipmentVendorList.primaryPhone' | message}}</th>
            <th>{{'equipmentVendorList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vendor in vm.vendors">
            <td>{{vendor.name}}</td>
            <td>{{vendor.email}}</td>
            <td>{{vendor.primaryPhone}}</td>
            <td>
                <button ui-sref="openlmis.administration.equipmentVendors.edit({id: vendor.id})">
                    {{'equipmentVendorList.edit' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
