<h2>{{'equipmentEnergyTypeList.equipmentEnergyTypes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-equipment-energy-types" class="add" ui-sref="openlmis.administration.equipmentEnergyTypes.edit">
        {{'equipmentEnergyTypeList.addEquipmentEnergyType' | message}}
    </button>
    <table>
        <caption ng-if="vm.equipmentEnergyTypes.length === 0">
            {{'equipmentEnergyTypeList.noEquipmentEnergyTypes' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'equipmentEnergyTypeList.equipmentEnergyTypeCode' | message}}</th>
                <th>{{'equipmentEnergyTypeList.equipmentEnergyTypeName' | message}}</th>
                <th>{{'equipmentEnergyTypeList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipmentEnergyType in vm.equipmentEnergyTypes">
                <td>{{equipmentEnergyType.code}}</td>
                <td>{{equipmentEnergyType.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.equipmentEnergyTypes.edit({id: equipmentEnergyType.id})">
                        {{'equipmentEnergyTypeList.edit' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>