dl.inventory-log {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  dt {
    flex: 0 0 200px;

    & > button {
      width: 100%;
    }
  }

  dd {
    flex: 1 1 calc(100% - 200px - 1em);
    margin-left: 1em;
  }

  & > dt:not(:first-of-type),
  dd:not(:first-of-type) {
    margin-top: 1em;
  }
}

#equipmentInventoryLogForm {
  max-width: 2500px
}
