<aside class="inventory-log-info">
    <ul>
        <li>
            <strong>{{'equipmentInventoryLog.facility'|message}}</strong>
            {{vm.headerInfo.facility.code}} - {{vm.headerInfo.facility.name}}
        </li>
        <li>
            <strong>{{'equipmentInventoryLog.district' | message}}</strong>
            {{vm.headerInfo.facility.geographicZone.name}}
        </li>
        <li>
            <strong>{{'equipmentInventoryLog.region' | message}}</strong>
            {{vm.headerInfo.facility.geographicZone.parent.name}}
        </li>
        <li>
            <strong>{{'equipmentInventoryLog.zone' | message}}</strong>
            {{vm.headerInfo.facility.geographicZone.parent.parent.name}}
        </li>

        <li><strong>{{'equipmentInventoryItemDetails.serialNumber' | message}}</strong>
            {{vm.headerInfo.request.inventory.equipment.equipmentTrackingId}}
        </li>
        <li><strong>{{'equipmentInventoryItemDetails.model' | message}}</strong>
            {{vm.headerInfo.request.inventory.equipment.model.name}}
        </li>
        <li><strong>{{'equipmentInventoryItemDetails.manufacturer' | message}}</strong>
            {{vm.headerInfo.request.inventory.equipment.manufacturer}}
        </li>
        <li><strong>{{'equipmentInventoryItemDetails.type' | message}}</strong>
            {{vm.headerInfo.request.inventory.equipment.model.type.name}}
        </li>
        <li><strong>{{'equipmentInventoryItemDetails.category' | message}}</strong>
            {{vm.headerInfo.request.inventory.equipment.category.name}}
        </li>

    </ul>
</aside>