<header>
    <h2>{{vm.headerInfo.request.inventory.equipment.name}}</h2>
</header>

<ng-include src="'equipment-inventory-log/header.html'"></ng-include>

<header>
    <h2 class="title">{{'equipmentInventoryLog.maintenanceLogs' | message}}</h2>
</header>
<div>
    <form id="equipmentInventoryLogForm" ng-submit="vm.save()">
        <div class="openlmis-table-container">
            <table>
                <thead>
                <tr>
                    <th>{{'equipmentInventoryLog.number' | message}}</th>
                    <th>{{'equipmentInventoryLog.requestedDate' | message}}</th>
                    <th>{{'equipmentInventoryLog.resolution' | message}}</th>
                    <th>{{'equipmentInventoryLog.remarks' | message}}</th>
                    <th>{{'equipmentInventoryLog.finding' | message}}</th>
                    <th>{{'equipmentInventoryLog.servicePerformed' | message}}</th>
                    <th>{{'equipmentInventoryLog.resolvedDate' | message}}</th>
                    <th>{{'equipmentInventoryLog.status' | message}}</th>
                    <th>{{'equipmentInventoryLog.verification' | message}}</th>
                    <th>{{'equipmentInventoryLog.reject' | message}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in vm.inventoryLogs">
                    <td>{{$index + 1}}</td>
                    <td>{{log.request.requestDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{(log.request.resolved) ? 'Resolved' : 'Not yet fixed'}}</td>
                    <td>{{log.recommendation}}</td>
                    <td>{{log.finding}}</td>
                    <td>{{log.servicePerformed}}</td>
                    <td>{{log.maintenanceDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{log.status}}</td>
                    <td>
                        <input type="button" class="danger" ng-disabled="log.request.approved"
                               ng-click="vm.approve(log)"
                               value="{{'equipmentInventoryLog.approve' | message}}">
                    </td>
                    <td>
                        <input type="button" class="danger"
                               ng-click="vm.reject(log)"
                               value="{{'equipmentInventoryLog.reject' | message}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="openlmis-toolbar button-group">
    <button id="close" ui-sref="openlmis.equipment.inventory">{{'equipmentInventoryLog.cancel' | message}}
    </button>
</div>
