<h2>{{'disciplineList.disciplines' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-discipline" class="add" ng-click="vm.goToAddDisciplinePage()">
        {{'disciplineList.addDiscipline' | message}}
    </button>
    <table>
        <caption ng-if="!vm.disciplines || vm.disciplines.length === 0">
            {{'disciplineList.noDisciplines' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'disciplineList.name' | message}}</th>
            <th>{{'disciplineList.code' | message}}</th>
            <th>{{'disciplineList.displayOrder' | message}}</th>
            <th>{{'disciplineList.enabled' | message}}</th>
            <th>{{'disciplineList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="discipline in vm.disciplines">
            <td>{{discipline.name}}</td>
            <td>{{discipline.code}}</td>
            <td>{{discipline.displayOrder}}</td>
            <td>{{discipline.enabled}}</td>
            <td>
                <button ui-sref="openlmis.administration.discipline.edit({id: discipline.id})">{{'disciplineList.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
