<h2>{{'equipmentVendorAdd.addEquipmentVendor' | message}}</h2>
<ng-include src="'equipment-vendor-add/equipment-vendor-form.html'"></ng-include>
<div class="openlmis-toolbar button-group">
    <div class="button-group primary">
        <button ng-click="vm.save()" class="primary">
            {{'equipmentVendorAdd.addEquipmentVendor' | message}}
        </button>
    </div>
    <div class="button-group">
        <button ui-sref="^">{{'equipmentVendorAdd.cancel' | message}}</button>
    </div>
</div>