<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'equipment.orderableAdd' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-equipment-type-form" ng-submit="vm.save()">
                    <label for="equipment">{{'equipment.name' | message}}</label>
                    <select id="equipment" ng-model="vm.equipmentsOrderable.equipment" ng-options="type as type.name for type in vm.equipments track by type.id" required></select>

                    <label for="equipmentOrderable">{{'equipment.orderable' | message}}</label>
                    <select id="equipmentOrderable" ng-model="vm.equipmentsOrderable.orderableId" ng-options="type.id as type.productCode + ' - ' + type.fullProductName for type in vm.orderables track by type.id" required></select>

                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'equipmentType.cancel' | message}}</button>
                <button class="primary" form="add-equipment-type-form">{{'equipmentType.save' | message}}</button>
            </div>
        </div>
    </div>
</div>